<div scrollSpy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
  <section id="welcome" data-section-title="Welcome">
    <div class="half left-half">
      <header>RichardLuo.dev<span class="subtitle">Frontend Web Developer</span></header>
      <!-- <div class="photo"></div> -->
      <div class="splash"><ambient-canvas></ambient-canvas></div>
    </div>
    <div class="half right-half">
      <article class="blog-panel">
        <app-blog-preview></app-blog-preview>
      </article>
      <div class="portfolio-panel">
        <div class="portfolio-item-wrapper">
          <div class="portfolio-item">
            <div class="inner"></div>
          </div>
        </div>
        <div class="portfolio-item-wrapper">
          <div class="portfolio-item">
            <div class="inner"></div>
          </div>
        </div>
        <a href="#" class="show-portfolio">Portfolio so far</a>
      </div>
    </div>
  </section>
  <section id="section2" data-section-title="This is another section">
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
    <p>section2</p>
  </section>
  <section id="section3" data-section-title="Section 3">
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
    <p>section3</p>
  </section>
</div>
