<nav class="top-nav">
  <ul class="menu-valentine">
    <li *ngFor="let article of articles" class="menu-item"><a [routerLink]="['blog/' + article.link]" class="menu-link">{{article.title}}</a></li>
  </ul>
  <angular-tooltip tooltip-text="Blog" tooltip-direction="left">
    <a routerLink="blog" class="blog-btn"><i class="icomoon icon-newspaper"></i></a>
  </angular-tooltip>
</nav>
<article>
  <header title="{{featuredArticle.title}}">{{featuredArticle.title}}</header>
  <div class="blurb" clampy="5" clampyContent="{{featuredArticle.blurb}}"></div>
  <a href="" class="read-more clearfix"><span>Read More</span><i class="ionicons ion-ios-book"></i></a>
</article>
<div class="blog-controls">
	<button (click)="flipPage('next')" class="flip-page-btn left"><i class="ionicons ion-chevron-left"></i></button>
	<button (click)="flipPage('prev')" class="flip-page-btn right"><i class="ionicons ion-chevron-right"></i></button>
</div>
