<nav class="top-nav">
  <ul class="menu-valentine">
    <li *ngFor="let article of articles" class="menu-item"><a [routerLink]="['blog/' + article.link]" class="menu-link">{{article.title}}</a></li>
  </ul>
  <angular-tooltip tooltip-text="Blog" tooltip-direction="left">
    <a routerLink="blog" class="blog-btn"><i class="icomoon icon-newspaper"></i></a>
  </angular-tooltip>
</nav>
<div class="article-container">
  <ng-template ngFor let-article [ngForOf]="[ currentArticle ]">
    <article [@slideAnimation]="orientation">
      <header title="{{article.title}}">{{article.title}}</header>
      <div class="blurb" clampy="5" clampyContent="{{article.blurb}}"></div>
      <a [routerLink]="['blog/' + article.link]" class="read-more clearfix"><span>Read More</span><i class="ionicons ion-ios-book"></i></a>
    </article>
  </ng-template>
</div>
<div class="blog-controls">
  <button (click)="flipPage('prev')" [disabled]="disabledDirection === 'left'" class="flip-page-btn left"><i class="ionicons ion-chevron-left"></i></button>
  <button (click)="flipPage('next')" [disabled]="disabledDirection === 'right'" class="flip-page-btn right"><i class="ionicons ion-chevron-right"></i></button>
</div>
